
html{
	margin:50px;
}
article{
	background-color: tomato;
}

#super{
	background-color: aquamarine;
}
.lead{
	font-size: 2em;
}
.strong{
	font-weight: bold;
}
a[href="http://www.kitm.lt"]{
	color: green;
}
a[href$="pdf"]{
	color: silver ;
}
/*Links*/
a:link{
	color: red;
	text-decoration: none;
}
a:visited{
	color: green;
}
a:hover{
	color: aqua;
}

li:first-child{
	background-color: green;
}
li:last-child{
	background-color: tomato;
}
li:nth-child(2n+1){
	background-color: red;
}
body{
	font-size: 1em;
	font-style: italic;
	font-family: lobster;
}

article{
	font-family: "Saira Stencil One";
	font-size: 1em;
	font-style: inherit;
}
p{
	font-size: 1em;
	font-weight: bold;
	font-family: arial;
}

a:link{
	font-family: "Dancing Script"
}
.fa-air-freshener{
	color: blue;
}
h2.fa-air-freshener:[last-of-type]{
	color: tomato;
}

h1, h2{
	text-align: center;
	text-transform: uppercase;
}
article p{
	text-align: justify;
}

p{
	line-height: 2;
}